html,
body {
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 50px;
}
.heading {
  margin: 20px;
}

.picture-container {
  margin: 20px;
  width: 258px;
  height: 130px;
  min-width: 258px;
  min-height: 130px;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid black;
  transition: transform 0.2s;
}
.picture-container:hover {
  transform: scale(2);
}

.pixel {
  width: 1px;
  height: 1px;
}
